@import 'tailwindcss';

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@theme {
  /* =========================================
     FONT FAMILY
     ========================================= */

  --font-poppins: 'Poppins', sans-serif;

  /* =========================================
     TYPOGRAPHY - DISPLAY
     ========================================= */

  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;

  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;

  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3.5rem;

  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 3rem;

  --text-display-md: 2rem;
  --text-display-md--line-height: 2.875rem;

  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;

  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;

  /* =========================================
     TYPOGRAPHY - BODY
     ========================================= */

  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;

  --text-md: 1rem;
  --text-md--line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;

  /* =========================================
     COLORS - PRIMARY
     ========================================= */

  --color-primary-100: #ead0cc;
  --color-primary-200: #b86255;
  --color-primary-300: #961200;
  --color-primary-400: #640d00;

  /* =========================================
     COLORS - NEUTRAL
     ========================================= */

  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* =========================================
     COLORS - BASE
     ========================================= */

  --color-white: #ffffff;
  --color-black: #000000;

  /* =========================================
     BORDER RADIUS
     ========================================= */

  --radius-none: 0rem;
  --radius-xxs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1.25rem; /* 20px */
  --radius-4xl: 1.5rem; /* 24px */
  --radius-full: 9999px;

  /* =========================================
     SPACING
     ========================================= */

  --spacing-none: 0rem;
  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.375rem; /* 6px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.25rem; /* 20px */
  --spacing-3xl: 1.5rem; /* 24px */
  --spacing-4xl: 2rem; /* 32px */
  --spacing-5xl: 2.5rem; /* 40px */
  --spacing-6xl: 3rem; /* 48px */
  --spacing-7xl: 4rem; /* 64px */
  --spacing-8xl: 5rem; /* 80px */
  --spacing-9xl: 6rem; /* 96px */
  --spacing-10xl: 8rem; /* 128px */
  --spacing-11xl: 8.75rem; /* 140px */
}

html {
  color-scheme: dark;
}

body {
  @apply font-poppins bg-black text-neutral-25;
}

.hamburger-button span {
  @apply w-6 h-0.5 bg-neutral-25 transition-all duration-200 ease-in-out;
  forced-color-adjust: none;
}
